body {
  font-family: Helvetica;
}

.page-wrapper {

}

.round-wrapper {
  display: inline-block;
  width: 150px;
  text-align: top;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  width: 120px;
}

li {
  padding: 5px;
  padding-right: 30px;
}

li:nth-child(4n),
li:nth-child(4n-1) {
  background: #999;
}
li:nth-child(4n-2),
li:nth-child(4n-3) {
  background: #ddd;
}
